{% extends 'template.twig' %}

{% block content %}
	<h1>{{ article.title }}</h1>
	<p>Posted {{ article.date.format('F j, Y') }}</p>
	<div class="columns">
		<div class="{% if article.image != null %} col-2 {% endif %}">
			{{ article.content|raw }}
			<p><a class="button" href="{{ page.getNavPath() }}">Back</a></p>
			{#
			<p>
				{% if not article.previous.isNull() %} <a class="button" href="{{ article.previous.path }}">Previous Article</a> {% endif %}
				{% if not article.next.isNull() %} <a class="button" href="{{ article.next.path }}">Next Article</a> {% endif %}
			</p>
			#}
		</div>
		{% if article.image != null %}
			<div class="col-2">
				{{ article.image.tag()|raw }}
			</div>
		{% endif %}
	</div>
{% endblock %}
