<p>
	Hello {{ user.name }}
</p>
<p>
	We have received a request to reset your password, and if the request came from you, you may reset it by clicking on the following link:
</p>
<p>
	<a href="{{ constant("PROTOCOL") }}{{ constant("SITE_ROOT") }}/Account/Reset-Password/{{ request.id }}/{{ request.token }}/">{{ constant("PROTOCOL") }}{{ constant("SITE_ROOT") }}/Account/Reset-Password/{{ request.id }}/{{ request.token }}/</a>
</p>
<p>
	If you did not make this request, you can just ignore this email.
</p>
<p>
	- {{ config.getSiteName() }}
</p>